#{extends 'main.html'/}
<h1>${setting.name}</h1>
<table  class="simple-little-table" cellspacing='0'>
    <tr>
        <th>Имя</th>
        <td>${setting.name}</td>
    </tr>
    <tr>
        <th>Сфера</th>
        <td>${setting.scope} </td>
    </tr>
    <tr>
        <th>Тип</th>
        <td>${setting.settingType} </td>
    </tr>
    <tr>
        <th>Значение</th>
        <td>${setting.value} </td>
    </tr>
    <tr>
        <th>Новое значение</th>
        <td>#{form @changeValue()}
            <input type="text" id="newValue" name="newValue" />
            <input type="hidden"  name="id" value="${setting.id}"/>

            <input type="submit" value="Изменить" />
        #{/} </td>
    </tr>

</table>





